.crypto-subsection > a {
	background-color: rgba(255,255,255, 0.8)!important;
	color: black!important;
}

.crypto-subsection.invalid-crypto > a {
	background-color: rgba(255,25,25, 0.8)!important;
	color: black!important;
}
.crypto-subsection.valid-crypto > a {
	background-color: rgba(25,255,25, 0.8)!important;
	color: black!important;
}

.crypto-subsection.active {
	background-image: linear-gradient(to right, white, white 37px, rgba(155,155,155, 1) 37px, rgba(155,155,155, 1))!important;
	background-position: center!important;
	color: black!important;
}

.flash-yellow {
  -moz-animation: flash-yellow 1s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash-yellow 1s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash-yellow 1s ease-out;
  -ms-animation-iteration-count: 1;
}

@keyframes flash-yellow {
    0% { background-color: transparent; }
    50% { background-color: #fbf8b2; }
    100% { background-color: transparent; }
}

@-webkit-keyframes flash-yellow {
    0% { background-color: transparent; }
    50% { background-color: #fbf8b2; }
    100% { background-color: transparent; }
}

@-moz-keyframes flash-yellow {
    0% { background-color: transparent; }
    50% { background-color: #fbf8b2; }
    100% { background-color: transparent; }
}

@-ms-keyframes flash-yellow {
    0% { background-color: transparent; }
    50% { background-color: #fbf8b2; }
    100% { background-color: transparent; }
}

.flash-green {
  -moz-animation: flash-green 1s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash-green 1s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash-green 1s ease-out;
  -ms-animation-iteration-count: 1;
}

@keyframes flash-green {
    0% { background-color: transparent; }
    50% { background-color: #42f45c; }
    100% { background-color: transparent; }
}

@-webkit-keyframes flash-green {
    0% { background-color: transparent; }
    50% { background-color: #42f45c; }
    100% { background-color: transparent; }
}

@-moz-keyframes flash-green {
    0% { background-color: transparent; }
    50% { background-color: #42f45c; }
    100% { background-color: transparent; }
}

@-ms-keyframes flash-green {
    0% { background-color: transparent; }
    50% { background-color: #42f45c; }
    100% { background-color: transparent; }
}

.flash-red {
  -moz-animation: flash-red 1s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash-red 1s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash-red 1s ease-out;
  -ms-animation-iteration-count: 1;
}

@keyframes flash-red {
    0% { background-color: transparent; }
    50% { background-color: #f44741; }
    100% { background-color: transparent; }
}

@-webkit-keyframes flash-red {
    0% { background-color: transparent; }
    50% { background-color: #f44741; }
    100% { background-color: transparent; }
}

@-moz-keyframes flash-red {
    0% { background-color: transparent; }
    50% { background-color: #f44741; }
    100% { background-color: transparent; }
}

@-ms-keyframes flash-red {
    0% { background-color: transparent; }
    50% { background-color: #f44741; }
    100% { background-color: transparent; }
}

.autopay-disclaimer-title {
  padding-bottom:0px;
  margin-bottom:0px;
  padding-top:8px;
  font-size:20.8px;
  color: #555555;
}

.autopay-disclaimer-adjustments {
  color: #555555; 
}

.redux-container .redux-group-tab .autopay-disclaimer-adjustments {
  margin-top:37px;
}

.autopay-disclaimer-container {
  font-size:16px;
  color: #7e7e7e;;
}

.autopay-disclaimer-container li {
  line-height: 21px;
}

.autopay-disclaimer-container li strong {
  color: #555555;
}

.autopay-disclaimer-container li i{
  padding-top: 7px;
  font-size:14px;
  color: #de8541;
}

#info-BAT_autopayment_disclaimer {
  border-left: 4px solid #de8541;

}

.autopay-disclaimer-container li:nth-child(n+2) {
  margin-top:12px;
  
}